{% extends "base.html.twig" %}
{% block title %}registro{% endblock %}
{% block body %}


<div>
<div>
<span> you are logged in that's why u can access to this page </span>

</div>
<div>
{% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}  
</div>

</div>

{% endblock %}